h1 {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 25px;
}

.form-fund-page {
  display: flex;
  flex-direction: column;
}

.form-fund-page-form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 1083px;
}

textarea {
  resize: none;
  padding: 10px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: #616161;
}

.form-fund-page-form label,
label {
  cursor: pointer;
  border: none;
  width: 173px;
  height: 35px;
  color: #fff;
  background-color: #c42424;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  border-radius: 10px;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  padding: 6px;
  margin-bottom: 20px;
}

.form-fund-page-form textarea {
  height: 237px;
}

.form-fund-page-form button {
  width: 40%;
  margin: 20px 0 20px 60%;
}

form input {
  margin-bottom: 20px;
}
