.raise-fund-button button {
  background-color: #c42424;
  width: 150px;
  margin: 0px 15px;
}

.raise-fund-body {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.raise-fund-body h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 28px;
  margin-bottom: 15px;
}

.card h1{
    font-size: 23px;
    line-height: 28px;
}
