.user-page {
  display: flex;
  justify-content: center;
}

.user-page {
  justify-content: space-around;
  margin-top: 60px;
}

.user-page h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.user-page-profile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-page-profile h1 {
  margin-bottom: 13px;
}

.user-page-profile-body {
  display: flex;
  flex-direction: row;
}

.user-page-profile-detail {
  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.user-page-profile-body img {
  min-height: 246px;
  max-height: 246px;
  min-width: 180px;
  max-width: 180px;
  background-blend-mode: normal;
  border-radius: 10px;
  object-fit: cover;
}

.user-page-profile-detail div {
  margin: 0 0 23px 0;
}

.user-page-profile-detail h3 {
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  color: #c42424;
  margin-bottom: 15px;
}

.user-page-profile-detail h4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #616161;
}

.user-page-history-donation {
  width: 50%;
  height: 200px;
}

.user-page-history-donation .card-donation-list {
  margin-top: 13px;
  height: auto;
}

.user-page-history-donation .card-donation-list h1 {
  font-size: 18px;
  line-height: 17px;
}

.edit-profile-button{
  background-color: #c42424;
  width: 349px;
  margin-bottom: 15px;
}
