/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

.navbar {
  background-color: #c42424;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

button {
  cursor: pointer;
  border: none;
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  border-radius: 10px;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-btn {
  margin-right: 20px;
}

.btn-login {
  border: none;
  width: 100px;
  height: 40px;
  background-color: #c42424;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
}

.btn-register {
  margin-left: 10px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  color: #c42424;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  border: none;
}

.landing-page {
  position: relative;
}

.container {
  background-color: #c42424;
  width: 100%;
  height: 700px;
  position: absolute;
}

.landing-page-header {
  position: absolute;
  left: 100px;
  top: 151px;
  width: 717px;
  height: 174px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 55px;
  display: flex;
  align-items: center;
}

.landing-page-description {
  position: absolute;
  width: 545px;
  height: 200px;
  left: 100px;
  top: 361px;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.landing-page-description button {
  margin-top: 10px;
  width: 177px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #c42424;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
}

.landing-page-image img {
  position: absolute;
  width: 515px;
  height: 640px;
  left: 827px;
  top: 151px;
}

.landing-page-image-2 img {
  position: absolute;
  width: 423px;
  height: 659px;
  left: 25px;
  top: 700px;
}

.landing-page-header-2 {
  position: absolute;
  margin-top: 65px;
  width: 717px;
  height: 174px;
  left: 540px;
  top: 851px;
  font-weight: bold;
  font-size: 20px;
  line-height: 55px;
  display: flex;
  align-items: center;
}

.landing-page-description-2 {
  position: absolute;
  width: 717px;
  height: 175px;
  left: 529px;
  top: 1068px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 25px;
  color: #616161;
}

.landing-page-description-2-paragraph {
  width: 314px;
  height: 175px;
}

.landing-page-description-2-paragraph-2 {
  width: 357px;
  height: 100px;
}

.landing-page-card {
  position: absolute;
  width: 100%;
  height: 620px;
  top: 1500px;
  text-align: center;
}

.landing-page-card h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #c42424;
}

.row {
  width: 100%;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col-3 {
  width: 33.3%;
  margin-right: 15px;
}

.col-4 {
  width: 25%;
  margin-right: 15px;
}

.col-5 {
  width: 20%;
  margin-right: 15px;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
  width: 100%;
  height: 100%;
}

.card h1 {
  width: 90%;
  margin: 20px;
  text-align: left;
  font-size: 23px;
  line-height: 28px;
  color: #000;
}

.card p {
  width: 90%;
  margin: 20px;
  font-size: 18px;
  line-height: 25px;
  color: #616161;
}

input[type="range"] {
  width: 90%;
  margin: 0 20px;
}

.total {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.total p {
  width: 120px;
  height: 19px;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
}

.total button {
  border: none;
  width: 100px;
  height: 40px;
  background-color: #c42424;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  border-radius: 10px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  background-color: #fff;
  width: 30rem;
  height: auto;
  padding: 2rem;
  font-size: 1.4rem;
  border-radius: 10px;
  animation: modalAnimate 0.5s linear;
}

@keyframes modalAnimate {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-heading {
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 13px;
}

form input {
  margin-bottom: 15px;
}

form input[type="text"],
input[type="password"],
textarea {
  border: 2px solid #bcbcbc;
  display: block;
  width: 100%;
  border-radius: 5px;
  outline: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  height: 50px;
  padding: 0 20px;
}

form button {
  background-color: #c42424;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

form .form-link {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form span {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #333;
}

span strong {
  color: #333;
  cursor: pointer;
}

.details-page,
.details-page-donation,
.user-page {
  display: flex;
  justify-content: center;
}

.details-page-donation {
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
}

.details-page-image img,
.details-page-description {
  margin-top: 50px;
  width: 500px;
  height: 500px;
}

.details-page-description {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-page-description h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.details-page-description strong {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.details-page-description p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #616161;
}

.details-page-description input[type="range"] {
  width: 85%;
}

.strong-red {
  color: #c42424;
}

.details-page-info,
.details-page-info-2 {
  margin: 10px 0;
  display: flex;
}

.details-page-info {
  width: 100%;
  justify-content: space-evenly;
}

.details-page-info-2 {
  width: 82%;
  justify-content: space-between;
}

.details-page-info-2 strong {
  color: #000;
  font-size: 18px;
  line-height: 22px;
}

.details-page-description .description {
  width: 83%;
  margin: 10px 0;
  font-size: 18px;
  line-height: 25px;
}

.details-page-description button {
  margin: 10px;
  background-color: #c42424;
  width: 83%;
  height: 45px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
}

.details-page-donation-header {
  display: flex;
  justify-content: flex-start;
  width: 77%;
}

.details-page-donation-header h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.details-page-donation-list {
  width: 77%;
  height: 100%;
  margin-top: 20px;
}

.col-1 {
  width: 100%;
}

.card-donation-list {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-donation-list h1 {
  margin: 14px;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
}

.card-donation-list strong {
  font-weight: 900;
  font-size: 15px;
  line-height: 12px;
}

.card-donation-list p {
  font-size: 13px;
  line-height: 12px;
  margin: 10px 14px;
}

.card-donation-list-flex {
  display: flex;
  justify-content: space-between;
}

.card-donation-list-flex button {
  margin-right: 13px;
  margin-bottom: 4px;
  color: #00ff47;
}

.row-donation {
  margin: 2px 0;
  height: 400px;
}

.user-page {
  justify-content: space-evenly;
  margin-top: 60px;
}

.container-2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.user-page h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.user-page-profile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-page-profile h1 {
  margin-bottom: 13px;
}

.user-page-profile-body {
  display: flex;
  flex-direction: row;
}

.user-page-profile-detail {
  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.user-page-profile-body img {
  background-blend-mode: normal;
  border-radius: 10px;
}

.user-page-profile-detail div {
  margin: 0 0 23px 0;
}

.user-page-profile-detail h3 {
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  color: #c42424;
  margin-bottom: 15px;
}

.user-page-profile-detail h4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #616161;
}

.user-page-history-donation {
  width: 50%;
  height: 200px;
}

.user-page-history-donation .card-donation-list {
  margin-top: 13px;
  height: auto;
}

.user-page-history-donation .card-donation-list h1 {
  font-size: 18px;
  line-height: 17px;
}

.raise-fund-button button {
  background-color: #c42424;
  width: 150px;
  margin: 45px 15px;
}

.raise-fund-body {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.col-2 {
  width: 50%;
}

.raise-fund-body h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.form-fund-page {
  display: flex;
  flex-direction: column;
}

.form-fund-page-form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 1083px;
}

textarea {
  resize: none;
  padding: 10px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: #616161;
}

.form-fund-page-form label {
  cursor: pointer;
  border: none;
  width: 173px;
  height: 35px;
  color: #fff;
  background-color: #c42424;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  border-radius: 10px;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  padding: 6px;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.form-fund-page-form textarea {
  height: 237px;
}

.details-page-donation-list .load-mode {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #616161;
  margin: 13px;
}

.details-page-donation-list-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 15px;
}
